.homeCont{
    position: relative;
    width: 60%;
    margin-left: 20%;
    background-color: #001057;
    text-align: center;
    color: white;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 20px;
    border-right: 8px solid black;
    border-bottom: 8px solid black;
}

.signOutCont{
    background-color: black;
}

.redirectCont{
    margin-top: 40px;
    width: 60%;
    margin-left: 20%;
    display: flex;
    flex-direction: row;
    position: relative;
    background-image: linear-gradient(to right, #9e42f5, #7307d9, #010194,#2727d9,#010194, #7307d9, #9e42f5);
    background-size: 400%;
    border: solid;
    border-color: black;
    border-radius: 20px;
    font-size: 20px;
    z-index: 1;
}

.redirectCont::before{
    position: absolute;
    content: " ";
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    background-image: linear-gradient(to right, #9e42f5, #7307d9, #010194,#2727d9,#010194, #7307d9, #9e42f5);
    border-radius: 20px;
    z-index: -1;
    filter: blur(20px);
}

.redirectCont:hover{
    animation: subAnim 3s linear infinite;
}

.redirectCont:hover::before{
    animation: subAnim 3s linear infinite;
}

@keyframes subAnim{
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 100%;
    }
}

.other{
    width:30%;
    margin-left: 35%;
    text-align: center;
}

.pls{
    width: 100%;
    cursor: pointer;
}

.redirectBut{
    width: 50%;
    height: 40px;
    padding-top: 5px;
    cursor: pointer;
}

#leftOne{
    border-right: 4px solid black;
}

.padList{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    width: 40%;
    margin-left: 30%;
    background-image: linear-gradient(to left, #9e42f5, #9e42f5, #7307d9,#010194,#010194,#7307d9, #9e42f5,#9e42f5);
    border-radius: 15px;
    border: solid black 5px;
    background-size: 400%;
    animation: subAnim 3s linear infinite;
}

.padRedirect{
    background-color:black;
    border-radius: 10px;
    cursor: pointer;
    width: 50%;
    height: 30px;
    margin-left: 25%;
    padding-top: 5px;
}