<div class="homeCont">
    <div  *ngIf="flag; else notShow">
        <h2>Welcome {{uname}}!</h2>
        <div>
            <p>
                Once you have saved EquPads, they can be accessed here.
            </p>
            <p>
                Get started and checkout the "EquPad" Tab!
            </p>
        </div>
        <div class="redirectCont other" (click)="signOut()">
            <div class="pls">Sign Out!</div>
        </div>
    </div>
    <ng-template #notShow>
        <h2>Sign in to view content here!</h2>
        <div class="redirectCont">
            <div class="redirectBut" id="leftOne" routerLink="login"> Sign In</div>
            <div class="redirectBut" routerLink="register"> Register </div>
        </div>
    </ng-template>
</div>