<div class="header">
  <h1> Welcome to Equ-Help! </h1>
  <p> Making Education and Technology Intuitive</p>
  <div class="myNavBar">
    <div class="navComponent" routerLink="">
      <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
      <p> Home </p>
    </div>
    <div class="navComponent" routerLink="pad">
      <span class="glyphicon glyphicon-superscript" aria-hidden="true"></span>
      <p> EquPad </p>
    </div>
    <div class="navComponent" routerLink="login">
      <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
      <p> Login </p>
    </div>
    <div class="navComponent" routerLink="register">
      <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
      <p> Sign Up </p>
    </div>
    <div class="navComponent" routerLink="about">
      <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
      <p> About </p>
    </div>
  </div>
</div>
<div class="routerDiv">
  <router-outlet></router-outlet>
</div>