<div class="header">
  <h1> Welcome to Equ-Help! </h1>
  <p> Making Education and Technology Intuitive</p>
  <div class="myNavBar">
    <div class="navComponent">
      <button type="button">
        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
        <p> Home </p>
      </button>
    </div>
    <div class="navComponent">
      <button type="button" routerLink="pad" >
        <span class="glyphicon glyphicon-superscript" aria-hidden="true"></span>
        <p> EquPad </p>
      </button>
    </div>
    <div class="navComponent">
      <button type="button"> 
        <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
        <p> Login </p>
      </button>
    </div>
      <div class="navComponent">
        <button type="button">
          <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
          <p> Sign Up </p>
        </button>
      </div>
      <div class="navComponent">
        <button type="button">
          <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
          <p> About </p>
        </button>
      </div>
  </div>
</div>
<router-outlet></router-outlet>